body{
    
    margin: 0;
    padding: 0;
}
.pagina{
    
   
   padding: 0;
    margin: 0;
  
}
#headerpadre{
    width: 100%;
    background-color: #0a58cad4;
}
.header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;    
max-width: 1140px;
padding-top: 15px; 
justify-content:space-between;
align-items: center;
margin: auto;
    
}
 
.titulo{
    padding: 0;
    margin: 0;
    color: black;
    font-family: "Nunito", Sans-serif;
    font-size: 36px;
    font-weight: 350;
    padding-bottom: 05px;
}

#menuul {
display: flex;
flex-wrap: nowrap;
flex-direction: row;
align-items: center;
margin-left: auto;
justify-content: space-evenly;
list-style-type: none;
gap:45px;
margin-bottom: 0px;


}
#menuul a{
    text-decoration: none;
}
.botoncontact{
    margin-right: 38px;
    background-color: #343a40;
    width: 130px;
    height: 40px;
    border-radius: 3.5px;
    align-items: center;
    display: flex;
    margin-bottom: 5px;
    cursor: pointer;
}  
.botoncontact:hover{
    background-color: black; 
    padding-right:+2px;
    padding-top: +3px;      
} 
.botoncontact:active{     
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
                    inset -4px -4px 6px 0 rgba(255,255,255,.2),
                    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.ss{
    width: 100%;
    right: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoncontact a{
    font-family: "Nunito", Sans-serif;
    font-size: 14px;
    font-weight: 600;
 
    /*padding: 14px 25px 14px 25px; */
    text-decoration: none;
    
    
   
}

.textobtn{
    color: white;
    
}
.far{
color: white;
box-sizing: border-box;
margin-right: 10px;
}
.itemlista{
    color: white;
    font-family: "Nunito", Sans-serif;
    font-size: 17px;
    
}
.itemlista:hover{
    color: #2e3744;
}
.itemlista:focus{
    color:black ;
    outline: none;
}

/*fin de header*/
.presentacion{
    background-color: #1f242b;
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex; 
    justify-content: center;

}
.h2roll{
    color: #ffffff;
    font-family: "Nunito", Sans-serif;
    font-size: 60px;
   
    line-height: 1.2em;
    padding:0;
    margin:0;
    }
    .parrafodesc{
        
            text-align: left;
            color: #adb5bd;
            font-family: "Work Sans", Sans-serif;
            font-size: 15px;
            line-height: 1.8em;
            display: block;
            margin: 0;                     
    }
    .spanizq{
        font-family: "Work Sans", Sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #e2e3e5;
    }
    .spander{
            font-family: "Nunito", Sans-serif;
            font-size: 15px;
            color: #adb5bd;
    }
    .segundohireme{
        font-family: "Nunito", Sans-serif;
        font-size: 13px;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
        padding-right: 30px;
        
       
    }
    #botonhire{
width: 150px;
height: 52px;
background-color:black;
border-color: #0a58ca;
border-style: solid;
 border-width: 1px 1px 1px 1px;
border-radius: 4px 4px 4px 4px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;

    }
    #botonhire a{
        color: white;
    }
    #botonhire:before{
    position: relative;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #ffffff;
    animation: shiny-btn1 4s ease-in-out infinite;
    overflow: hidden;

    }
    @keyframes shiny-btn1 {
        0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
        80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
        81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
        100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
    }
    #botonhire:active{
        
            box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                        -4px -4px 6px 0 rgba(116, 125, 136, .2), 
              inset -4px -4px 6px 0 rgba(255,255,255,.2),
              inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
          
    }
   


    #botondown{
        width: 170px;
        padding: 15px;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: #0a58ca;
        border-radius: 3px;
        transition: background-color 0.3s ease;
        cursor: pointer;
        text-align: center; /* Centra el contenido */
        

    }
    #botondown:active{
        
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
          inset -4px -4px 6px 0 rgba(255,255,255,.2),
          inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
      
}

    


    #botondown:hover {
        background-color: black;
        
    }
    #botondown a {
        font-family: "Nunito", Sans-serif;
        font-size: 13px;
        font-weight: bold;
        display: block;
        color: white;
        text-decoration: none; /* Quita el subrayado del enlace */
        transition: color 0.3s ease;
         /* El enlace ocupa todo el ancho del div */
    }
    #botondown:hover a {
        color: #088cd8;
    }
.elementoizq{
        width: 50%; 
    margin: 35px 30px 35px;
}
#cont2{
    width: 80%;
    display: flex;
    flex-direction: column;
   align-items: start;

    }
    .elementoder{     
        width:50%;
        height: auto;
  display: block;
     padding-top: 20px;
    }
    #idcont{
        min-width: 72%;
        height: auto;
        display: block;
       
    }
    #idcont img{
        opacity: 0;
        animation: aparecer 4s forwards;
    }
    .elementoder img{
        width: 500px;
height: auto;
border-style: solid;
border-width: 1px 1px 1px 1px; 
border-color: #6c757d;
border-radius: 4px 4px 4px 4px;
 }
    .contenedor{
        display: flex;
        flex-direction: row; 
        
       max-width: 1140px;  

    }
.columnaone{
    display: flex;
   flex-direction:row;
flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    margin-top: 12px;
    gap: 12px;
}
.sectionbotones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-top: 35px;
    gap:20px;
}
#franjaseccion{
    background-color: #ffffff;
    width:550px;
    height: 80px;
    margin-top: -60px;
    margin-bottom: 0px;
    margin-left: -23px;
    margin-right: 10px;
    z-index:1;
    border-radius: 50px 50px 50px 50px;
  
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
   
}

    
#franjaiconos i{
    font-size: 25px;
    color: #ffffff;
    margin-right: 20px;
    border-radius: 50px;
    width: 55px;
    height: 55px;
    text-align: center;
    align-content: center;    
    transition: filter 0.2s ease-in-out;

}
#franjaiconos i:hover{
    filter: brightness(1.2);
}
.fa-linkedin{
    background-color: #0077b5;
}
.fa-facebook{
    background-color: #3b5998;
}
.fa-github{
    background-color: #333;
}
.fa-codepen{
    background-color: #333;
}
.fa-whatsapp{
    background-color: #25D366;
}
/* principio expereriencia */
#sectionexperiencia{
    padding-top: 30px;
    padding-bottom: 20px;

}
#h2exp{
    color: #ffffff;
    font-family: "Nunito", Sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.2em;
    text-align: center;
    margin: 0;
}
#pexp{
    
    text-align: center;
    color: #adb5bd;
    font-family: "Work Sans", Sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;
    display: block;
    
}
#contsexp{
    padding-top: 20px;
    padding-bottom:20px;
    opacity: 0;
    animation: aparecer 7s forwards;
}
#contenedorexp{
    max-width: 1140px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}
#expizq{
    width: 45%;
    padding-right: 20px;
}
#expmid{
width: 10%;
}
#expder{
    width: 45%;
    padding-left: 20px;
}
.cuadradoexp{
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #0a58ca;
    box-shadow: 10px 15px 50px 0px rgba(0, 0, 0, 0);
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 20px 40px 20px 40px;
    background-color: #FFFFFF;

}
#cuadradoexpizq2{
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #0a58ca;
    box-shadow: 10px 15px 50px 0px rgba(0, 0, 0, 0);
    margin-top: 15%;
    margin-bottom: 0px;
    padding: 20px 40px 20px 40px;
    background-color: #FFFFFF;
}
#cuadradoexpderuno{
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #0a58ca;
    box-shadow: 10px 15px 50px 0px rgba(0, 0, 0, 0);
    margin-top: 44%;
    background-color: #FFFFFF;
    margin-bottom: 0px;
    padding: 20px 40px 20px 40px;  
}
#cuadradoexpder2{
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #0a58ca;
    box-shadow: 10px 15px 50px 0px rgba(0, 0, 0, 0);
    margin-top: 25%;
    margin-bottom: 0px;
    padding: 20px 40px 20px 40px;
    background-color: #FFFFFF;
}
.expgrupo{

    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
}
.expicon #logo-amesud{
    width: 150px;
    display: block;
    margin-bottom: 10px;
}
.expicon #logo-constec{
    width: 240px;
    display: block;
    margin-bottom: 10px;
   
}
.expicon #logo-netacom{
    width: 210px;
    display: block;
    margin-bottom: 10px;
   
}
.expicon #logo-mitronics{
    width: 240px;
    display: block;
    margin-bottom: 20px;
   
}
.expicon #logo-coderhouse{
    width: 250px;
    display: block;
    margin-bottom: 20px;
   
}
.expicon #logo-argprograma{
    width: 250px;
    display: block;
    margin-bottom: 20px;
   
}
#logo-argprograma:hover{
    transform:scale(1.15);
}

.expfechaizq{
     width: 100%;
     text-align: right;
    box-sizing: border-box;
    right: -170px;
    position:relative;
    

}
.expfechaizq span{
    font-size: 12px;
    color:#adb5bd; 
    font-weight: bold;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color:#0a58ca;
    padding: 10px 12px;   
}
.expfechaizq2{
    width: 100%;
    text-align: right;
   box-sizing: border-box;
   right: -175px;
   position:relative; 
}
.expfechaizq2 span{
    font-size: 12px;
    color:#adb5bd; 
    font-weight: bold;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color:#0a58ca;
    padding: 10px 10px;   
}


.expfechader{
    width: 100%;
    text-align: left;
   box-sizing: border-box;
   left: -152px;
   position:relative; 
}
.expfechader span{
    font-size: 12px;
    color:#adb5bd; 
    font-weight: bold;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color:#0a58ca;
    padding: 12px 1px;   
} 

#exptitulo h4{
    color: #0a58ca;
    font-family: "Nunito", Sans-serif;
    font-size: 27px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.2em;
    margin: 0px 0px 6px 0px;
}
.expcompany h6{
    color: #0a58ca;
    font-family: "Nunito", Sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    line-height: 1.2em;
}

.expparrafo ul{
    text-align: justify;
    color: #adb5bd;
    font-family: "Work Sans", Sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 1.0rem 0rem 1rem 0rem;
   line-height: 1.5;
}
/* educacion*/
.edufechaizq{
    width: 100%;
    text-align: right;
   box-sizing: border-box;
   right: -170px;
   position:relative; 
}
.edufechaizq span{
    font-size: 15px;
    color:#adb5bd;
    font-weight: bold;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color:#0a58ca;
    padding: 12px 33px;   
}
.edufechader{
    width: 100%;
    text-align: left;
   box-sizing: border-box;
   left: -152px;
   position:relative; 
}
.edufechader span{
    font-size: 15px;
    color:#adb5bd;
    font-weight: bold;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color:#0a58ca;
    padding: 12px 25px;   
} 
.cuadradoedu{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #0a58ca;
    box-shadow: 10px 15px 50px 0px rgba(0, 0, 0, 0);
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 20px 40px 20px 40px;

}
#edutitulo h4{
    color: #FFFFFF;
    font-family: "Nunito", Sans-serif;
    font-size: 27px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.2em;
    margin: 0px 0px 6px 0px;
}

.eduparrafo ul{
    text-align: justify;
    color: #adb5bd;
    font-family: "Work Sans", Sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 1.0rem 0rem 1rem 0rem;
   line-height: 1.5;
}
#cuadradoeduizq2{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    
    border-color: #0a58ca;
    box-shadow: 10px 15px 50px 0px rgba(0, 0, 0, 0);
    margin-top: 25%;
    margin-bottom: 0px;
    padding: 20px 40px 20px 40px;
}
#cuadradoeduderuno{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #0a58ca;
 
    box-shadow: 10px 15px 50px 0px rgba(0, 0, 0, 0);
    margin-top: 28%;

    margin-bottom: 0px;
    padding: 20px 40px 20px 40px;  
}
#cuadradoeduder2{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
  
    border-color: #0a58ca;
    box-shadow: 10px 15px 50px 0px rgba(0, 0, 0, 0);
    margin-top: 25%;
    margin-bottom: 0px;
    padding: 20px 40px 20px 40px;
}
#sectioneducacion{
padding-top: 30px;
    padding-bottom: 20px;
    opacity: 0;
    animation: aparecer 12s forwards;
}
.divimg{
    width:300px;
}
.divimg img{
    width: 100%;
}
.divimg img:hover{
    transform: scale(2.00);
    position: relative;
    z-index: 1;
    
}
/* slider*/
#h2cert{
    color: #202020;
    font-family: "Nunito", Sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.2em;
    text-align: center;
    margin: 0;
    padding-bottom:40px;
}
.slider {
   max-width: 1140px;
    height: auto;
    margin: auto;
    overflow: hidden;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #6F40C2;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 400px;
    margin-left: 40px;
}

.slider .slide img {
    width: 100%;
    cursor: pointer;
   
   
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}
#divcertificados{
width: 100%;
height: 40px;
padding:20px 10px 0px 20px ;




}

.carousel-item img{
    max-width: 500px;
    max-height: 277px;
   
    border-style: solid;
border-color: #0a58ca;
}
.carousel-control-next-icon{
    background: #0a58ca;
}
.carousel-control-prev-icon{
    background: #0a58ca;
}

/*skill*/
#h2skills{
    color: #ffffff;
    font-family: "Nunito", Sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.2em;
    text-align: center;
}
#pskills{
    text-align: center;
    color: #adb5bd;
    font-family: "Work Sans", Sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;
    display: block;
}
#content{
    background-color: #6F40C2;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color:#6F40C2 ;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px; 
   margin-top: 20px;
   margin-bottom: 20px;  
}
/*slider habilidades*/
#content2{
max-width: 1140px;
margin: 30px auto 30px auto;
}
#content2 img{
    width: 42px;
}
.columskills1{
    
    width:48%;
    padding: 10px 10px 10px 10px;
}
.columskills2{
    width: 48%;
    padding: 10px 10px 10px 10px;
    
}
#spancolum span{
    color: #FFFFFF;
    font-family: "Nunito", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}






div.highway-slider {
	display:flex;
	justify-content:center;
	width:100%;
	height:100px;
	div.highway-barrier {
		overflow:hidden;
		position:relative;
	}
	ul.highway-lane {
		display:flex;
		height:100%;
		li.highway-car {
			flex:1;
			display:flex;
			justify-content:center;
			align-items:center;
			background:#fff;
			color:#343434;
		}
	}
}




@keyframes translateinfinite {
	100% { transform:translateX(calc(-180px * 12));  }
}
#infinite div.highway-barrier {
	background:#fff;
	box-shadow:0 3px 10px -3px rgba(0,0,0,0.3);
	&::before,
	&::after {
		content: " ";
		position:absolute;
		z-index:1;
		width:180px;
		height:100%;	
	}
	&::before {
		top:0;left:0;
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	}
	&::after {
		top:0;right:0;
		background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	}
	ul.highway-lane {
		width:calc(135px * 24);
		li.highway-car {
			width:180px;
			animation:translateinfinite 25s linear infinite;
			span.fab {
				font-size:65px;
			}
		}
	}
}
/*Proyectos*/

#h2proyectos{
color: #ffffff;
    font-family: "Nunito", Sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.2em;
    text-align: center;
    margin:0; 
}
#pproyectos{
    
        text-align: center;
        color: #adb5bd;
        font-family: "Work Sans", Sans-serif;
        font-size: 15px;
        line-height: 1.8em;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        box-sizing: border-box;
        display: block; 
}
#contproyectos{
    max-width: 1140px;
    display: flex;
    margin: 30px auto 30px auto;
    position: relative;
}
.itemsproyectos{
    width: 33%;
    padding: 0px 15px 0px 15px;
}

.itemsproyectos img{
width: 100%;
border-radius: 4px 4px 0px 0px;
box-shadow: 0 0 10px 0 white;
border-style: solid;
border-width: 1px;
border-color: white;
transition: transform 0.3s ease;

}
@keyframes aparecer {
    to {
      opacity: 1; /* Al final de la animación, la imagen tendrá opacidad 1 (totalmente visible) */
    }
  }
.itemsproyectos img:hover{
    transform: scale(1.1);
    position: relative;
    z-index: 1;
}
#textproyecto{
    padding-top: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    border-style: solid;
border-width: 0px 1px 1px 1px;
border-color: white;
box-shadow: 0  0 15px 0 white;
transition: transform 0.3s ease;
}
#textproyecto h3{
    color: white;  
    font-size: 20px;
    text-transform: capitalize;
    line-height: 1.2em;
    margin-top: 10px;
    padding: 0px 20px 25px 20px;
}
#fechaproyecto{
    color: #adb5bd; 
    font-size: 12px;
    padding: 15px 15px;
    margin-bottom: 0;
    border-top: 1px solid #eaeaea;
}
 /*footer*/
 #footer{
  background-color: #0a58cad4;
  padding: 55px 0px 45px 0px;
 }
 #divfooter{
    max-width: 700px;
    text-align: center;
    margin: 0px auto 0px auto;
 }
 #footercontactoh2 h2{
    color: #202020;
    font-family: "Nunito", Sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.2em;
    padding: 0px;
    margin: 0px;
 }
 #footerlista ul{
    list-style-type: none;
    color:#adb5bd ;
    font-family: "Work Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8em;
padding: 0px;  
 }
 #franjaiconos2 i:hover{
    filter: brightness(1.2);
}
#franjaiconos2 i{
    font-size: 25px;
    color: #ffffff;
    border-radius: 50px;
    margin-right: 15px;
    width: 45px;
    height: 45px;
    text-align: center;
    align-content: center; 
    transition: filter 0.2s ease-in-out;
}
/*media query laptos*/
@media(max-width:1024px){
    .header{
        max-width: 1024px;
    }
    .listas{
        display: none;
    }
   .presentacion{
    
    max-width: 1024px;
   } 
   .contenedor{
    flex-direction: column;
    align-items: center;
   }
   .elementoizq{
    width: 100%;
    text-align: center;
   }
   #cont2{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
   }
   #cont2 p{
   width: 100%;
   text-align: center;
   }
   #datospersonales{
    display: flex;
    flex-direction: column;
   
    width: 300px;
    margin-left: auto;
    margin-right: auto;
   }
   .columnaone{
flex-direction: column;   
}
   .sectionbotones{
    gap: 35px;
    justify-content: center;
   }
   .elementoder{
    width: 100%;
    text-align: center;
   }
   .elementoder img{
    width: 650px;
   }
   #franjaseccion{
    width: 660px;
    margin-right: auto;
    margin-left: auto;
   }
   #franjaseccion a{
    margin-right: 10px;
    margin-left: 10px;

   }
}
/*media query mobile*/
@media(max-width:413px){
    
    
    html,body {
        overflow-x: hidden !important;
        padding:0px;
        margin:0px;
      }
      #canvas{
        height: 928vh !important;
      }
    .header{
        max-width: 390px;
    }
    .titulo{
        padding-left: 15px;
        
    }
    .botoncontact{
        display: none;
    }
    .presentacion{
        max-width: 390px;
        padding-top: 25px;
    }
    .h2roll{
        font-size: 44px;
    }
.contenedor{
    max-width: 390px;
}
.elementoder{
    max-width: 390px;
}
.sectionbotones{
    flex-direction: column;
    gap: 20px;
}
#botonhire{
    width: 90%;
}
#botondown{
    width: 90%;
}
#contenedorexp{
    flex-direction: column;
    align-items: center;
}
#franjaseccion{
    max-width:386px;
   
}
#pexp{
    width: 90%;
}
#pskills{
    width: 90%;
}
#pproyectos{
    width: 90%;
}
#infinite div.highway-barrier {
    &::before, &::after {
       
        width: 50px;
       
    }
}

#idcont img{
max-width: 90%;

}
#franjaiconos i{
    margin-right: 5px;
    width: 40px;
    height: 40px;
    font-size: 24px;
  
}
#expizq{
    padding-right: 0px;
    width: 90%;
}
.expfechaizq{
    right:0px;
    text-align: center;
    margin-bottom: 25px;
}
.expfechaizq2{
    right:0px;
    text-align: center;
    margin-bottom: 25px;
}
#cuadradoexpizq2{
    margin-top: 40px;
}
#expder{
    width: 90%;
    padding-left: 0px;
}
#cuadradoexpderuno{
margin-top: 40px;
}
.expfechader{
    left:0px;
    text-align: center;
    margin-bottom: 25px;
}
#cuadradoexpder2{
margin-top: 40px;
}
.expparrafo ul {
    text-align: left;
}
.eduparrafo ul{
    text-align: left;
}
.edufechaizq{
    right:0px;
    text-align: center;
    margin-bottom: 25px;
}
#edutitulo{
    text-align: center;

}
.edufechaizq span{
    color: white;
    border-color: white;
}
#cuadradoeduizq2{
    margin-top: 40px;
}
#cuadradoeduderuno{
    margin-top: 40px;
}
.edufechader{
    left:0px;
    text-align: center;
    margin-bottom: 25px;
}
.edufechader span{
    color: white;
    border-color: white;
}
#cuadradoeduder2{
    margin-top: 40px;
}
#carouselExampleRide{
    margin-top:40px !important;
   align-items: center;
   align-self: center;
}
.carousel-item img{
    max-width: 100% !important;
    max-height: 230px !important;
}
.container{
    max-width: 90% !important;
}
#contproyectos{
    flex-direction: column;
    margin: 30px auto 0px auto;
}
.itemsproyectos{
    width: 100%;
    margin-bottom: 50px;
}
.header{
    max-width: 390px;
}
.movil{
    display:block !important;
}

}


/*menu hamburguesa*/
.container_flex li {
	list-style: none;
  
}

.container_flex a {
	display: block;
	width: 100%;
	height: 10vh;
	text-decoration: none;
	font-size: 3em;
	color: #1663cc;
	text-transform: capitalize;
}

.flex_column {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-items: center;
    margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

.felx_row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.movil {
	width: 100%;
	display: none;
}
#btn_menu,
.btn_menu {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 3;
}

#btn_menu {
		display: none;
}

.btn_menu {
	width: 40px;
	height: 40px;
	color: red;
}


.btn_span {
	position: absolute;
	top:0;
	width: 30px;
	height: 5px;
	background: #000000;
	transition: all .3s ease;
}
.btn_span:nth-child(2) {
	top: 10px
}
.btn_span:nth-child(3) {
	top: 20px
}
#btn_menu:checked ~ .btn_menu #btn_span_1 {
	top: 10px;
	transform: rotate(45deg);
}
#btn_menu:checked ~ .btn_menu #btn_span_2{
	opacity: 0;
}
#btn_menu:checked ~ .btn_menu #btn_span_3{
	top:10px;
	transform: rotate(-45deg);
}


.container_flex {
	position: relative;
	width: 100%;
	
	overflow: hidden;
}

.container_menu {
	width: 100%;
	height: 100vh;
}

.container_menu {
	position: fixed;
	top: 0;
	right: -100vw;
	width: 100%;
	height: 65vh;
	background: #052c65;
	transition: all .5s ease;
	z-index: 2;
  
}
.container_flex a {
    color: #adb5bd !important;
} 

#btn_menu:checked ~ .container_flex .container_menu {
	right: 0;
}




#canvas{
	background-color: #1f242b;
   
	width: 100%;
	height: 406vh;	
  position: absolute;
  
}